<?xml version="1.0" encoding="UTF-8"?>

<web-app>
    <servlet>
        <servlet-name>tienda</servlet-name>
        <servlet-class>controlador.ControladorTienda</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>tienda</servlet-name>
        <url-pattern>/tienda</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>administrador</servlet-name>
        <servlet-class>controlador.ControladorAdministrador</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>administrador</servlet-name>
        <url-pattern>/administrador</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registrar</servlet-name>
        <jsp-file>/jsp/registrar.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>registrar</servlet-name>
        <url-pattern>/registrar</url-pattern>   
    </servlet-mapping>

    <servlet>
        <servlet-name>nuevoCD</servlet-name>
        <jsp-file>/jsp/anhadirNuevoCD.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>nuevoCD</servlet-name>
        <url-pattern>/nuevoCD</url-pattern>   
    </servlet-mapping>

</web-app>
